@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-taskGrey: #242424;
}

@theme {
  --color-first: #1a73e8;
  --breakpoint-sm: 390px;
  --breakpoint-md: 520px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
